// Overide libraries variables

// $primary:     #000;
// $secondary:   #000;
// $success:     #000;
// $info:        #000;
// $warning:     #000;
// $danger:      #000;
// $light:       #000;
// $dark:        #000;


// Please Note: write override variables above import bootstrap variables

@import "bootstrap/scss/variables.scss";